<div id="geneResult">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 class="modal-title">Gene List</h3>
    </div>

    <!--<div class="container-fluid">
        <div class="row">
            <div class="col-md-4"><b>Code</b></div>
            <div class="col-md-12"><b>Test</b></div>
            <div class="col-md-4"><b>Method</b></div>
            <div class="col-md-4"><b>TAT</b></div>
        </div>
        <div class="row">
            <div class="col-md-4">{{products[1]}}</div>
            <div class="col-md-12" ng-bind-html="products[2]"></div>
            <div class="col-md-4">{{products[3]}}</div>
            <div class="col-md-4">{{products[4]}}</div>
        </div>
    </div>
    <hr>-->
    <div class="modal-body text-center genelistresult" ng-bind-html="products[0]"></div>
    <div class="modal-footer">
        <button class="btn btn-info" type="button" ng-click="close()">Close</button>
    </div>
</div>