
/*====================================
=            testimonials  =
====================================*/

.testimonial{
  max-width: 900px;
  margin:auto;
  padding:40px 0;
  position: relative;
  h2{
    text-align: center;
  }
  @include media-breakpoint-up(lg){
    padding:100px 0;
  }
  a{
    margin-bottom: 19px;
    @include media-breakpoint-down(sm){
      margin-bottom: 0;
    }
  }
  .pb-testimonial{
    .item{
      position: relative;
      z-index: 1;
      .testi-img{
        width:190px;
        overflow: hidden;
        box-shadow: -1.7px 2.5px 13px 0 rgba(51, 51, 51, 0.44);
        @include media-breakpoint-down(sm){
          border-radius: 50%;
          margin: auto;
          position: relative;
          top: 40px;
          width:130px;
          @include media-breakpoint-up(md){
            margin-left: 5%;
          }
        }
        img{
          @include media-breakpoint-down(sm){
            height:130px;
          }
          width:100%;
          height: 222px;
          object-fit: cover;
        }
      }
      .testi-info{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
        background-color: #f8f8f8;
        padding: 55px 20px 20px 20px;
        text-align: center;
        @include media-breakpoint-up(md){
          
          position: absolute;
          top: 50%;
          transform: translate(0%,-50%);
          z-index: -1;
          padding: 15px 10px 15px 30%;
          text-align: left;
        }
        @include media-breakpoint-up(lg){
         padding: 15px 10px 15px 30%;
        }
        h2{
          font-weight:$font-weight-normal;
          text-align: left;
          color:$golden;
        }
        span{
          font-size: 16px;
          font-weight: normal;
          font-style: italic;
          color: #444;
          display: block;
        }
        p{
          font-style: italic;
          position: relative;
          @include media-breakpoint-up(md){
            padding-left: 20px;
          }
          &:before{
            content: "\f10d";
            color: $primary;
            font-size: 35px;
            position: absolute;
            left:0;
            margin-top: 18px;
            font-family: 'pest-busters' !important;
            text-align: right;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            opacity:0.2;
            @include media-breakpoint-up(md){
             z-index: -1;
            }
          }
        }
      }
    }
  }
}


.pb-testimonial{
  position: relative;
  .owl-nav{
    display: none;
    @include media-breakpoint-up(lg){
      display: block;
    }
  }
  .owl-prev{
    display: none;
    font-size: 45px;
    @include media-breakpoint-up(md){
      position: absolute;
      left:-20px;
      top:45%;
      display: block;
      @include media-breakpoint-up(lg){
        left:-50px;
      }
      @include media-breakpoint-up(xl){
        left:-115px;
      }
    }
    
    .icon-arrow-left{
      font-size: 30px;
      @include media-breakpoint-up(xl){
        font-size: 45px;
      }
  }
}
  .owl-next{
    @include media-breakpoint-up(md){
      position: absolute;
      right:-20px;
      top:45%;
      @include media-breakpoint-up(lg){
        right:-50px;
      }
      @include media-breakpoint-up(xl){
        right:-115px;
      }
    }
    .icon-angle-right{
      font-size: 30px;
      @include media-breakpoint-up(xl){
        font-size: 45px;
      }
    }
  }

}

/*=====  eo     testimonials  ======*/



/* testimonial inner */




.testimonial-card{
  .heading{
    margin:40px auto;
    max-width:635px;
    @include media-breakpoint-up(xl) {
      margin:60px auto;
    }
    p{
      margin-top: 15px;
    }
  }
  margin-bottom: 60px;
}

.card {
  position: relative;
  // display: inline-block;
  // margin: 30px;
  // width:280px;
  // margin: 30px auto;
  background-color: #f8f8f8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  @include media-breakpoint-up(xl) {
    // width: 350px;
  }

  .card-img {
    position: relative;
    height:180px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // height:150px;
    }

    .client-name {
      text-align: center;
      position: absolute;
      bottom: 26px;
      left: 0;
      right: 0;

      h2{
        font-size: 20px;
        color: #fff;
        line-height: 17.5px;

        span {
          font-size: 14px;
          display: block;
        }
      }
    }
  }

  .card-txt {
    padding-bottom: 25px;

    p {
      color: #333333;
      font-size: 13px;
      max-width: 260px;
      margin: 35px auto 0px;
      line-height: 26px;
      text-align: center;
      @include media-breakpoint-up(lg) {
        margin: 50px auto 0px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 295px;
        font-size: 15px;
      }
    }
  }

  .test-cir {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7BC943;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    left: 0;
    right: 0;
    bottom: -28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    @include media-breakpoint-up(lg) {
      width: 60px;
      height: 60px;
    }


    .fa-quote-right {
      transform: translate(65%, 65%);
      font-size: 30px;
      color: #fff;
    }
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @include media-breakpoint-up(sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.actives{
  border:solid 1px $golden !important;
  color:$golden;
}
a.actives{
  color:$golden !important;
}



