@font-face {
  font-family: 'MedgenomeIcon';
  src:  url('fonts/MedgenomeIcon.eot?v7y0wv');
  src:  url('fonts/MedgenomeIcon.eot?v7y0wv#iefix') format('embedded-opentype'),
    url('fonts/MedgenomeIcon.ttf?v7y0wv') format('truetype'),
    url('fonts/MedgenomeIcon.woff?v7y0wv') format('woff'),
    url('fonts/MedgenomeIcon.svg?v7y0wv#MedgenomeIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MedgenomeIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_right:before {
  content: "\e90d";
}
.icon-keyboard_arrow_left:before {
  content: "\e90e";
}
.icon-upload:before {
  content: "\e90f";
}
.icon-phone2:before {
  content: "\e903";
}
.icon-upload2:before {
  content: "\e910";
}
.icon-submit-applicationSVG:before {
  content: "\e911";
  color: #fff;
}
.icon-angellist:before {
  content: "\e912";
}
.icon-glassdoor:before {
  content: "\e913";
  color: #0caa41;
}
.icon-twitter:before {
  content: "\e908";
  color: #1da1f2;
}
.icon-edit:before {
  content: "\e907";
}
.icon-mail-envelope-closed:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-cheveron-down:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-phone3:before {
  content: "\e904";
}
.icon-office:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e93f";
}
.icon-user:before {
  content: "\e971";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-table:before {
  content: "\ea70";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter2:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-long-arrow-right:before {
  content: "\e90a";
}
.icon-long-arrow-left:before {
  content: "\e90b";
}
.icon-chain:before {
  content: "\e90c";
}
.icon-link:before {
  content: "\e90c";
}
.icon-map-marker:before {
  content: "\e909";
}
