@font-face {
  font-family: 'MedgenomeIcon';
  src:  url('../fonts/MedgenomeIcon.eot?41d8q2');
  src:  url('../fonts/MedgenomeIcon.eot?41d8q2#iefix') format('embedded-opentype'),
    url('../fonts/MedgenomeIcon.ttf?41d8q2') format('truetype'),
    url('../fonts/MedgenomeIcon.woff?41d8q2') format('woff'),
    url('../fonts/MedgenomeIcon.svg?41d8q2#MedgenomeIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MedgenomeIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e908";
  color: #1da1f2;
}
.icon-edit:before {
  content: "\e907";
}
.icon-mail-envelope-closed:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-cheveron-down:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-phone2:before {
  content: "\e903";
}
.icon-phone3:before {
  content: "\e904";
}
.icon-office:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e93f";
}
.icon-user:before {
  content: "\e971";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-table:before {
  content: "\ea70";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter2:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}


.contact-email-phone .icon-envelope{
  margin-right: 10px;
  font-size:14px;
  position:relative;
  top:2px;
}
.contact-email-phone .icon-phone{
  margin-right: 10px;
  font-size:14px;
  position:relative;
  top:1px;
}
.form-control i{
  color:#dddddd;
  font-size:14px;
  position:relative;
  top:4px;
}
.inquiry-control .icon-edit{
  font-size: 18px;  
}
.footer-col i{
  color:#0EC2CD;
  font-size:14px;
  margin-right:4px;
}
.address{
  position: relative;
}
.address .icon-map-marker{
  font-size:17px;
  position: absolute;
  left:3px;
  top:5px;
}



